<!DOCTYPE html>
<html>
  <head>
    <title>SmartParking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Smart Parking</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Início</a>
            <a class="nav-link" href="#">Como funciona</a>
            <a class="nav-link" href="#">Fale com a gente</a>
          </nav>
        </div>
      </header>
      <%= yield %>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p><a href="https://getbootstrap.com/">Faculdade UCL</a>, by <a href="https://twitter.com/mdo">@kleytonmr, @jonhwili</a>.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
